<% include partials/head.ejs %>

<% posts.forEach(function(entry) { %>
	<h3><a href="/blog/<%= blogUrl %>/<%= entry.url %>/"><%= entry.title %></a></h3>
	<p><%- entry.content %></p>
	<small><%= entry.created %> 
	<% 
	console.log('Entry.userid: ' + entry.userId + ' | userid:' + userid);
	if (entry.userId.toString() === userid.toString()) { console.log('true');
	%>| <a href="/blog/<%= blogUrl %>/<%= entry.url %>/edit">Edit</a> | <a href="/blog/<%= blogUrl %>/<%= entry.url %>/delete">Delete</a> <% } %></small>
<% }); %> 


<% include partials/footer.ejs %>